/*
=====================================================================
*   Layout Stylesheet
*   url: ghanamade.africa
*   Frederick Coleman of GhanaMade Corporation January 2018.
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   e. Portfolio Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* e. Article Section
/* ------------------------------------------------------------------ */

/* Article Content */
#article-wrapper .columns { margin-bottom: 36px; }
.article-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.article-item .article-item-meta { padding: 18px }
.article-item .article-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.article-item .article-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* article modal */
.article-item-wrap .article-description-box { padding: 10px 20px 10px 20px; }
.article-item-wrap .article-description-box h4 {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin-bottom: 12px;
  color: #111;
}
.article-item-wrap .article-description-box p {
  font: 14px/24px 'opensans-regular', sans-serif;
  color: #A1A1A1;
  margin-bottom: 12px;
}
.article-item-wrap {
  background-color: #FFF;
}
.article-box {
  padding: 10px 20px;
  background: #111;
  text-align: center;
}
.article-box a {
  color: #fff;
  font: 11px/21px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.article-box a:hover {
  color: #bb091d;
}